<app-chart1 [data]=monthly_data></app-chart1>
<app-chart6 [data]=monthly_data></app-chart6>
<app-chart2 [data]=monthly_data></app-chart2>
<app-chart3 [data]=monthly_data></app-chart3>
<app-chart4 [data]=daily_data></app-chart4>
<app-chart5 [data]=daily_data></app-chart5>

<div class='footer'>
  <div class='container'>
    <p>
      <a href='https://github.com/KevZho/dsc106hw2'>Source code</a>
    </p>
    <p>
      <a href='assets/report.pdf'>This page as PDF</a>
    </p>
    <p>
      <small>Made with Angular and Highcharts</small>
    </p>
  </div>
</div>
